@{ Layout = null;}
@using ChineseCulture.Model;

@model ArticlePageViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@Model.articleModel.article_title-中国校园文化网</title>
    @Styles.Render("~/Content/homepage")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/homepage")


</head>
<body style="background-image:url(/images/body2.png)">
    @{Html.RenderAction("EventPageHeader", "Partinal");}
    @{Html.RenderAction("EventHomeMenu", "Partinal");}
    <section class="main c-con clear" style="background-color:#FFF;">
        <section class="dasai-location">
            <a href="#">中国校园文化网</a>&nbsp;>&nbsp;@Model.ThisArticleFatherCategory.category_name><a href="/event/ecid_@(Model.ThisArticleCategory.category_id+".html")">@Model.ThisArticleCategory.category_name</a>
        </section>
        <section class="dasai-detail clear">
            <section class="dsd-left">
                <header class="dsd-l-header">@Model.articleModel.article_title</header>
                <div class="dsd-l-canshu">
                    <a href="#"><i class="iconfont">&#xe6bd;</i>&nbsp;分享</a>
                    <a href="#"><i class="iconfont">&#xe6c1;</i>&nbsp;评论</a>
                    <a href="#"><i class="iconfont">&#xe740;</i>&nbsp;收藏</a>@Model.articleModel.article_kdate
                </div>
                @*<div class="dsd-l-author">
                        <h3>习近平出席博鳌亚洲论坛2018年年会开幕式并发表主旨演讲</h3>
                        <h3>强调顺应时代潮流坚持开放共赢</h3>
                        <h3>宣布中国扩大开放新的重大举措</h3>
                    </div>*@
                <div class="dsd-l-cen">
                    @Html.Raw(@Model.articleModel.article_content)
                </div>

                <section class="dsd-l-pinglun">
                    <header class="dsd-lpl-header"><a href="#">0条评论</a>网友评论</header>
                    <div class="dsd-lpl-form clear">
                        <p><textarea name=" " placeholder="说两句吧......"></textarea></p>
                        <p><input type="submit" value="发布评论"></p>
                    </div>
                </section>
              
            </section>
            <section class="dsd-right">

                <section class="dsd-right-col">
                    <header class="dsd-rcol-header">
                        <h3>精彩分享</h3>
                    </header>
                    <div class="dsd-rcol-list">
                        <ul>
                            @foreach (var item in Model.articleRightList)
                            {
                                <li><a href="@item.article_click_url">@item.article_title</a></li>
                            }
                        </ul>
                    </div>
                </section>
            </section>
        </section>
    </section>
    <section class=" c-con clear" style="background-color:#FFF;">
        <section class="cyfh-blank"></section>
        <section class="links">
            <h3><p>友情链接</p></h3>
            @{Html.RenderAction("FriendLink", "Partinal");}
        </section>
    </section>
    @{Html.RenderAction("Footer", "Partinal");}
</body>
</html>