
@{
    Layout = null;
}
@using ChineseCulture.Model;

@model EventHomePageViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>中国校园文化网</title>
    @Styles.Render("~/Content/dasai")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/homepage")
    @*<link rel="stylesheet" type="text/css" href="./css/global.css">
            <link rel="stylesheet" href="css/swiper.min.css">
            <link rel="stylesheet" type="text/css" href="./css/style.css">
            <link rel="stylesheet" type="text/css" href="./css/dasai.css">
        <script src="js/jquery-1.11.1.min.js"></script>*@
</head>
<body style="background-image:url(/images/body2.png)">
    @{Html.RenderAction("PageHeader", "Partinal");}
    <nav class="nav">
        <div class="nav-list c-con clear">
            <ul>
                <li><a href="./index.html">首&nbsp;&nbsp;页</a></li>
                <li><a href="#">会员登录</a></li>
                <li><a href="#">赛事简介</a></li>
                <li><a href="#">选手报名</a></li>
                <li><a href="#">赛区分布</a></li>
                <li><a href="#">学术交流</a></li>
                <li><a href="#">历届大赛</a></li>
                <li><a href="#">赛事管理</a></li>
                <li><a href="#">专家评审</a></li>
                <li><a href="#">支持媒体</a></li>
                <li><a href="#">冠名单位</a></li>
            </ul>
        </div>
    </nav>
    <section class="main c-con clear">
        <div class="swiper-container swiper1">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/images/emp-01.png"></div>
                <div class="swiper-slide"><img src="/images/emp-01.png"></div>
                <div class="swiper-slide"><img src="/images/emp-01.png"></div>
                <div class="swiper-slide"><img src="/images/emp-01.png"></div>
                <div class="swiper-slide"><img src="/images/emp-01.png"></div>
                <div class="swiper-slide"><img src="/images/emp-01.png"></div>
            </div>
            <div class="swiper-pagination swiper-pagination1"></div>
        </div>
        <section class="union">
            <h3>赛区组织单位</h3>
            <div class="union-list">
                <ul>
                    @foreach (var item in Model.SaiQuZuZhiDanWei)
                    {
                        <li><a href="@item.article_click_url">@item.article_title</a></li>
                    }
                </ul>
            </div>
        </section>
        <section class="hjmingdan">
            <h3>赛事获奖榜单</h3>
            <div class="hjmingdan-list">
                <ul>
                    @foreach (var item in Model.SaiShiHuojiangBangdan)
                    {
                        <li><a href="@item.article_click_url">@item.article_title</a></li>
                    }
                </ul>
            </div>
        </section>
        <section class="dscols">
            <header class="col-tab clear">
                <p class="on">文学教程</p>
                @foreach (var item in Model.WenxueZuopinCategoryList)
                {
                    <p><a href="/Event/List/cid_@item.category_id">@item.category_name</a></p>
                }

                <a href="/Event/List">更多</a>
            </header>
            <div class="dscol-con">
                <header class="dsc-header clear">
                    <p></p>
                    @foreach (var item in Model.WenxueZuopinCategoryArticleList)
                    {
                        <p>@item.category_name</p>
                    }

                </header>
                <div class="dsc-list clear">
                    <ul>
                        <li>
                            <p>参赛作者</p>
                            <p>入选作品</p>
                            <p>投票点评</p>
                        </li>
                        @foreach (var categoryList in Model.WenxueZuopinCategoryArticleList)
                        {
                            foreach (var item in categoryList.articleList)
                            {
                                <li>
                                    <p><a href="#"><img src="@item.article_cover_image" alt=" "></a></p>
                                    <p class="dsc-li-about">
                                        <a href="@item.article_click_url">

                                            @Html.Raw(@item.article_description.Replace("\r\n", "<br>"))
                                        </a>
                                    </p>
                                    <p><a href="#">123456&nbsp;<span>票</span></a><a href="javascript:;">我要投票</a></p>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </section>
        <section class="dscols">
            <header class="col-tab clear">
                <p class="on">书画手工</p>
                @foreach (var item in Model.ShuhuashougongCategoryList)
                {
                    <p><a href="/Event/List/cid_@item.category_id">@item.category_name</a></p>
                }
                <a href="#">更多</a>
            </header>
            <div class="dscol-con">
                <header class="dsc-header clear">
                    <p></p>@foreach (var item in Model.ShuhuashougongCategoryArticleList)
                    {
                        <p>@item.category_name</p>
                    }
                </header>
                <div class="dsc-list clear">
                    <ul>
                        <li>
                            <p>参赛作者</p>
                            <p>入选作品</p>
                            <p>投票点评</p>
                        </li>
                        @foreach (var categoryList in Model.ShuhuashougongCategoryArticleList)
                        {
                            foreach (var item in categoryList.articleList)
                            {
                                <li>
                                    <p><a href="#"><img src="@item.article_cover_image" alt=" "></a></p>
                                    <p class="dsc-li-about">
                                        <a href="@item.article_click_url">

                                            @Html.Raw(@item.article_description.Replace("\r\n", "<br>"))
                                        </a>
                                    </p>
                                    <p><a href="#">123456&nbsp;<span>票</span></a><a href="javascript:;">我要投票</a></p>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </section>
        <section class="dscols">
            <header class="col-tab clear">
                <p class="on">艺术表演 </p>
                @foreach (var item in Model.YishubiaoyanCategoryList)
                {
                    <p><a href="/Event/List/cid_@item.category_id">@item.category_name</a></p>
                }
                <a href="#">更多</a>
            </header>
            <div class="dscol-con">
                <header class="dsc-header clear">
                    <p></p>@foreach (var item in Model.YishubiaoyanCategoryArticleList)
                    {
                        <p>@item.category_name</p>
                    }
                </header>
                <div class="dsc-list clear">
                    <ul>
                        <li>
                            <p>参赛作者</p>
                            <p>入选作品</p>
                            <p>投票点评</p>
                        </li>
                        @foreach (var categoryList in Model.YishubiaoyanCategoryArticleList)
                        {
                            foreach (var item in categoryList.articleList)
                            {
                                <li>
                                    <p><a href="#"><img src="@item.article_cover_image" alt=" "></a></p>
                                    <p class="dsc-li-about">
                                        <a href="@item.article_click_url">

                                            @Html.Raw(@item.article_description.Replace("\r\n", "<br>"))
                                        </a>
                                    </p>
                                    <p><a href="#">123456&nbsp;<span>票</span></a><a href="javascript:;">我要投票</a></p>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </section>
        <section class="dscols">
            <header class="col-tab clear">
                <p class="on">龙虎榜单</p>
                @foreach (var item in Model.LonghubangdanCategoryList)
                {
                    <p><a href="/Event/List/cid_@item.category_id">@item.category_name</a></p>
                }
                <a href="#">更多</a>
            </header>
            <div class="dscol-con">
                <header class="dsc-header clear">
                    <p></p>@foreach (var item in Model.LonghubangdanCategoryArticleList)
                    {
                        <p>@item.category_name</p>
                    }
                </header>
                <div class="dsc-list clear">
                    <ul>
                        <li>
                            <p>参选代表</p>
                            <p>入选作品</p>
                            <p>投票点评</p>
                        </li>
                        @foreach (var categoryList in Model.LonghubangdanCategoryArticleList)
                        {
                            foreach (var item in categoryList.articleList)
                            {
                                <li>
                                    <p><a href="#"><img src="@item.article_cover_image" alt=" "></a></p>
                                    <p class="dsc-li-about">
                                        <a href="@item.article_click_url">

                                            @Html.Raw(@item.article_description.Replace("\r\n", "<br>"))
                                        </a>
                                    </p>
                                    <p><a href="#">123456&nbsp;<span>票</span></a><a href="javascript:;">我要投票</a></p>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </section>
        <section class="dscols">
            <header class="col-tab clear">
                <p class="on">学术交流</p>
                @foreach (var item in Model.XueshujiaoliuCategoryList)
                {
                    <p><a href="/Event/List/cid_@item.category_id">@item.category_name</a></p>
                }
                <a href="#">更多</a>
            </header>
            <div class="dscol-con">
                <header class="dsc-header clear">
                    <p></p>@foreach (var item in Model.XueshujiaoliuCategoryArticleList)
                    {
                        <p>@item.category_name</p>
                    }
                </header>
                <div class="dsc-list clear">
                    <ul>
                        <li>
                            <p>组织单位</p>
                            <p>参加代表</p>
                            <p>活动主题</p>
                        </li>
                        @foreach (var categoryList in Model.xue)
                        {
                            foreach (var item in categoryList.articleList)
                            {
                                <li>
                                    <p><a href="#"><img src="@item.article_cover_image" alt=" "></a></p>
                                    <p class="dsc-li-about">
                                        <a href="@item.article_click_url">

                                            @Html.Raw(@item.article_description.Replace("\r\n", "<br>"))
                                        </a>
                                    </p>
                                    <p><a href="#">123456&nbsp;<span>票</span></a><a href="javascript:;">我要投票</a></p>
                                </li>
                            }
                        }
                </div>
            </div>
        </section>
        <section class="dscols">
            <header class="col-tab clear">
                <p class="on">历届赛事</p>
                @foreach (var item in Model.LijiesaishiCategoryList)
                {
                    <p><a href="/Event/List/cid_@item.category_id">@item.category_name</a></p>
                }
                <a href="#">更多</a>
            </header>
            <div class="dscol-con">
                <header class="dsc-header clear">
                    <p></p>@foreach (var item in Model.LijiesaishiCategoryArticleList)
                    {
                        <p>@item.category_name</p>
                    }
                </header>
                <div class="dsc-list clear">
                    <ul>
                        <li>
                            <p>等级奖</p>
                        </li>
                        <li>
                            <p><a href="#"><img src="/images/emp-25.png" alt=" "></a></p>
                        </li>
                        <li>
                            <p class="dsc-li-title"><a href="#">那兰诗*致母亲</a></p>
                        </li>
                        <li>
                            <p class="dsc-li-user"><a href="#">湖南卫视国际频道</a></p>
                        </li>
                        <li>
                            <p><a href="#"><img src="/images/emp-25.png" alt=" "></a></p>
                        </li>
                        <li>
                            <p><a href="#"><img src="/images/emp-25.png" alt=" "></a></p>
                        </li>
                    </ul>
                </div>
                <div class="dsc-list clear" style="margin-top:10px;">
                    <ul>
                        <li>
                            <p>人气奖</p>
                        </li>
                        <li>
                            <p><a href="#"><img src="/images/emp-25.png" alt=" "></a></p>
                        </li>
                        <li>
                            <p class="dsc-li-title"><a href="#">那兰诗*致母亲</a></p>
                        </li>
                        <li>
                            <p class="dsc-li-user"><a href="#">湖南卫视国际频道</a></p>
                        </li>
                        <li>
                            <p><a href="#"><img src="/images/emp-25.png" alt=" "></a></p>
                        </li>
                        <li>
                            <p><a href="#"><img src="/images/emp-25.png" alt=" "></a></p>
                        </li>
                    </ul>
                </div>
                <div class="dsc-list clear" style="margin-top:10px;">
                    <ul>
                        <li>
                            <p>表演奖</p>
                        </li>
                        <li>
                            <p><a href="#"><img src="/images/emp-25.png" alt=" "></a></p>
                        </li>
                        <li>
                            <p class="dsc-li-title"><a href="#">那兰诗*致母亲</a></p>
                        </li>
                        <li>
                            <p class="dsc-li-user"><a href="#">湖南卫视国际频道</a></p>
                        </li>
                        <li>
                            <p><a href="#"><img src="/images/emp-25.png" alt=" "></a></p>
                        </li>
                        <li>
                            <p><a href="#"><img src="/images/emp-25.png" alt=" "></a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="cols2">
            <h3 class="bmfw"><p>专家评委</p></h3>
            <div class="cols2-imglist clear">
                <ul>
                    <li><a href="#"><p><img src="/images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                    <li><a href="#"><p><img src="/images/emp-07.png" alt=" "></p><h3>李艳霞</h3></a></li>
                    <li><a href="#"><p><img src="/images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                    <li><a href="#"><p><img src="/images/emp-07.png" alt=" "></p><h3>李艳霞</h3></a></li>
                    <li><a href="#"><p><img src="/images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                </ul>
            </div>
        </section>
        <section class="cols2">
            <h3 class="sjgly"><p>参赛单位</p></h3>
            <div class="cols2-imglist clear">
                <ul>
                    <li><a href="#"><p><img src="/images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                    <li><a href="#"><p><img src="/images/emp-07.png" alt=" "></p><h3>李艳霞</h3></a></li>
                    <li><a href="#"><p><img src="/images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                    <li><a href="#"><p><img src="/images/emp-07.png" alt=" "></p><h3>李艳霞</h3></a></li>
                    <li><a href="#"><p><img src="/images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                </ul>
            </div>
        </section>
        <section class="links">
            <h3><p>友情链接</p></h3>
            <div class="link-list"><a href="#">中国科技信息网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">中国视频文学网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">中国青年作家协会</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">中国五星文学网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">清华大学出版社</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">人民文学出版社</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">人民网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">新华网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">央视网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">诗词在线</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">哈尔滨转介率科技发展有限公司</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">圣才学习网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">新浪网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">一起写网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">陕西家教网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">中国文联出版社</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">江山文学网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">中国文学网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">百度</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">365</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">行业搜索网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">腾讯</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">新华网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">央视网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">诗词在线</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">哈尔滨转介率科技发展有限公司</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">圣才学习网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">新浪网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">一起写网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">陕西家教网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">中国文联出版社</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">江山文学网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">中国文学网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">百度</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">365</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">行业搜索网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">腾讯</a></div>
        </section>
    </section>
    <footer class="footer c-con">
        <div class="footer-nav">
            <a href="#">企业简介</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">管理团队</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">主营项目</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">产业布局</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">诚聘英才</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">客户留言</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">联系我们 </a>
        </div>
        <div class="copyright">
            Copyright ©1996-2018 hj Corporation All Right Reserved<br>
            版权所有&nbsp;&nbsp;河南慧涓文化传播有限公司&nbsp;&nbsp;中国互联网举报中心 <br>

            总部服务电话：0371-65339250　15938726942<br>
            豫ICP备18021547号<br>
        </div>
    </footer>
    <script src="js/swiper.min.js"></script>
    <script src="js/fun.js"></script>
    <script>
        var swiper1 = new Swiper('.swiper1', {
            pagination: '.swiper-pagination1',
            paginationClickable: true,
            spaceBetween: 0,
            autoplay: 3500,
            loop: true
        });
    </script>
</body>
</html>