
@{
    Layout = null;
}
@using ChineseCulture.Model;

@model EventHomePageViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>中国校园文化网</title>
    @Styles.Render("~/Content/dasai")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/homepage")
    @*<link rel="stylesheet" type="text/css" href="./css/global.css">
            <link rel="stylesheet" href="css/swiper.min.css">
            <link rel="stylesheet" type="text/css" href="./css/style.css">
            <link rel="stylesheet" type="text/css" href="./css/dasai.css">
        <script src="js/jquery-1.11.1.min.js"></script>*@
</head>
<body style="background-image:url(/images/body2.png)">
    @{Html.RenderAction("EventPageHeader", "Partinal");}
    @{Html.RenderAction("EventHomeMenu", "Partinal");}
    <section class="main c-con clear">
        <div class="swiper-container swiper1">
            <div class="swiper-wrapper">
                @foreach (var item in Model.saishigundongtupian)
                {
                    <div class="swiper-slide">
                        <a href="@item.article_click_url" target="_blank">
                            <img src="@item.article_cover_image">
                        </a></div>
                }
              
            </div>
            <div class="swiper-pagination swiper-pagination1"></div>
        </div>
        <section class="union">
            <h3>赛区组织单位</h3>
            <div class="union-list">
                <ul>
                    @foreach (var item in Model.SaiQuZuZhiDanWei)
                    {
                        <li><a  target="_blank"  href="@item.article_click_url">@item.article_title</a></li>
                    }
                </ul>
            </div>
        </section>
        <section class="hjmingdan">
            <h3>赛事获奖榜单</h3>
            <div class="hjmingdan-list">
                <ul>
                    @foreach (var item in Model.SaiShiHuojiangBangdan)
                    {
                        <li><a  target="_blank" href="@item.article_click_url">@item.article_title</a></li>
                    }
                </ul>
            </div>
        </section>
        <section class="dscols">
            <header class="col-tab clear">
                <p class="on">文学教程</p>
                @foreach (var item in Model.WenxueZuopinCategoryList)
                {
                    <p><a href="/Event/List/cid_@item.category_id">@item.category_name</a></p>
                }

                <a href="/Event/List">更多</a>
            </header>
            <div class="dscol-con">
                <header class="dsc-header clear">
                    <p></p>
                    @foreach (var item in Model.WenxueZuopinCategoryArticleList)
                    {
                        <p>@item.category_name</p>
                    }

                </header>
                <div class="dsc-list clear">
                    <ul>
                        <li>
                            <p>参赛作者</p>
                            <p>入选作品</p>
                            <p>投票点评</p>
                        </li>
                        @foreach (var categoryList in Model.WenxueZuopinCategoryArticleList)
                        {
                            foreach (var item in categoryList.articleList)
                            {
                                <li>
                                    <p><a href="#"><img src="@item.article_cover_image" alt=" "></a></p>
                                    <p class="dsc-li-about">
                                        <a href="@item.article_click_url">

                                            @Html.Raw(@item.article_description.Replace("\r\n", "<br>"))
                                        </a>
                                    </p>
                                    <p><a href="#">123456&nbsp;<span>票</span></a><a href="javascript:;">我要投票</a></p>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </section>
        <section class="dscols">
            <header class="col-tab clear">
                <p class="on">书画手工</p>
                @foreach (var item in Model.ShuhuashougongCategoryList)
                {
                    <p><a href="/Event/List/cid_@item.category_id">@item.category_name</a></p>
                }
                <a href="#">更多</a>
            </header>
            <div class="dscol-con">
                <header class="dsc-header clear">
                    <p></p>@foreach (var item in Model.ShuhuashougongCategoryArticleList)
                    {
                        <p>@item.category_name</p>
                    }
                </header>
                <div class="dsc-list clear">
                    <ul>
                        <li>
                            <p>参赛作者</p>
                            <p>入选作品</p>
                            <p>投票点评</p>
                        </li>
                        @foreach (var categoryList in Model.ShuhuashougongCategoryArticleList)
                        {
                            foreach (var item in categoryList.articleList)
                            {
                                <li>
                                    <p><a href="#"><img src="@item.article_cover_image" alt=" "></a></p>
                                    <p class="dsc-li-about">
                                        <a href="@item.article_click_url">

                                            @Html.Raw(@item.article_description.Replace("\r\n", "<br>"))
                                        </a>
                                    </p>
                                    <p><a href="#">123456&nbsp;<span>票</span></a><a href="javascript:;">我要投票</a></p>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </section>
        <section class="dscols">
            <header class="col-tab clear">
                <p class="on">艺术表演 </p>
                @foreach (var item in Model.YishubiaoyanCategoryList)
                {
                    <p><a href="/Event/List/cid_@item.category_id">@item.category_name</a></p>
                }
                <a href="#">更多</a>
            </header>
            <div class="dscol-con">
                <header class="dsc-header clear">
                    <p></p>@foreach (var item in Model.YishubiaoyanCategoryArticleList)
                    {
                        <p>@item.category_name</p>
                    }
                </header>
                <div class="dsc-list clear">
                    <ul>
                        <li>
                            <p>参赛作者</p>
                            <p>入选作品</p>
                            <p>投票点评</p>
                        </li>
                        @foreach (var categoryList in Model.YishubiaoyanCategoryArticleList)
                        {
                            foreach (var item in categoryList.articleList)
                            {
                                <li>
                                    <p><a href="#"><img src="@item.article_cover_image" alt=" "></a></p>
                                    <p class="dsc-li-about">
                                        <a href="@item.article_click_url">

                                            @Html.Raw(@item.article_description.Replace("\r\n", "<br>"))
                                        </a>
                                    </p>
                                    <p><a href="#">123456&nbsp;<span>票</span></a><a href="javascript:;">我要投票</a></p>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </section>
        <section class="dscols">
            <header class="col-tab clear">
                <p class="on">龙虎榜单</p>
                @foreach (var item in Model.LonghubangdanCategoryList)
                {
                    <p><a href="/Event/List/cid_@item.category_id">@item.category_name</a></p>
                }
                <a href="#">更多</a>
            </header>
            <div class="dscol-con">
                <header class="dsc-header clear">
                    <p></p>@foreach (var item in Model.LonghubangdanCategoryArticleList)
                    {
                        <p>@item.category_name</p>
                    }
                </header>
                <div class="dsc-list clear">
                    <ul>
                        <li>
                            <p>参选代表</p>
                            <p>入选作品</p>
                            <p>投票点评</p>
                        </li>
                        @foreach (var categoryList in Model.LonghubangdanCategoryArticleList)
                        {
                            foreach (var item in categoryList.articleList)
                            {
                                <li>
                                    <p><a href="#"><img src="@item.article_cover_image" alt=" "></a></p>
                                    <p class="dsc-li-about">
                                        <a href="@item.article_click_url">

                                            @Html.Raw(@item.article_description.Replace("\r\n", "<br>"))
                                        </a>
                                    </p>
                                    <p><a href="#">123456&nbsp;<span>票</span></a><a href="javascript:;">我要投票</a></p>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </section>
        <section class="dscols">
            <header class="col-tab clear">
                <p class="on">学术交流</p>
                @foreach (var item in Model.XueshujiaoliuCategoryList)
                {
                    <p><a href="/Event/List/cid_@item.category_id">@item.category_name</a></p>
                }
                <a href="#">更多</a>
            </header>
            <div class="dscol-con">
                <header class="dsc-header clear">
                    <p></p>@foreach (var item in Model.XueshujiaoliuCategoryArticleList)
                    {
                        <p>@item.category_name</p>
                    }
                </header>
                <div class="dsc-list clear">
                    <ul>
                        <li>
                            <p>组织单位</p>
                            <p>参加代表</p>
                            <p>活动主题</p>
                        </li>
                        @foreach (var categoryList in Model.XueshujiaoliuCategoryArticleList)
                        {
                            foreach (var item in categoryList.articleList)
                            {
                                <li>
                                    <p><a href="#"><img src="@item.article_cover_image" alt=" "></a></p>
                                    <p class="dsc-li-about">
                                        <a href="@item.article_click_url">

                                            @Html.Raw(@item.article_description.Replace("\r\n", "<br>"))
                                        </a>
                                    </p>
                                    <p><a href="#">123456&nbsp;<span>票</span></a><a href="javascript:;">我要投票</a></p>
                                </li>
                            }
                        }
                </div>
            </div>
        </section>
        <!--
    <section class="dscols">
        <header class="col-tab clear">
            <p class="on">历届赛事</p>
            @foreach (var item in Model.LijiesaishiCategoryList)
            {
                <p><a href="/Event/List/cid_@item.category_id">@item.category_name</a></p>
            }
            <a href="#">更多</a>
        </header>
        <div class="dscol-con">
            <header class="dsc-header clear">
                <p></p>@foreach (var item in Model.LijiesaishiCategoryArticleList)
                {
                    <p>@item.category_name</p>
                }
            </header>
            <div class="dsc-list clear">
                <ul>
                    <li>
                        <p>等级奖</p>
                    </li>
                    <li>
                        <p><a href="#"><img src="/images/emp-25.png" alt=" "></a></p>
                    </li>
                    <li>
                        <p class="dsc-li-title"><a href="#">那兰诗*致母亲</a></p>
                    </li>
                    <li>
                        <p class="dsc-li-user"><a href="#">湖南卫视国际频道</a></p>
                    </li>
                    <li>
                        <p><a href="#"><img src="/images/emp-25.png" alt=" "></a></p>
                    </li>
                    <li>
                        <p><a href="#"><img src="/images/emp-25.png" alt=" "></a></p>
                    </li>
                </ul>
            </div>
            <div class="dsc-list clear" style="margin-top:10px;">
                <ul>
                    <li>
                        <p>人气奖</p>
                    </li>
                    <li>
                        <p><a href="#"><img src="/images/emp-25.png" alt=" "></a></p>
                    </li>
                    <li>
                        <p class="dsc-li-title"><a href="#">那兰诗*致母亲</a></p>
                    </li>
                    <li>
                        <p class="dsc-li-user"><a href="#">湖南卫视国际频道</a></p>
                    </li>
                    <li>
                        <p><a href="#"><img src="/images/emp-25.png" alt=" "></a></p>
                    </li>
                    <li>
                        <p><a href="#"><img src="/images/emp-25.png" alt=" "></a></p>
                    </li>
                </ul>
            </div>
            <div class="dsc-list clear" style="margin-top:10px;">
                <ul>
                    <li>
                        <p>表演奖</p>
                    </li>
                    <li>
                        <p><a href="#"><img src="/images/emp-25.png" alt=" "></a></p>
                    </li>
                    <li>
                        <p class="dsc-li-title"><a href="#">那兰诗*致母亲</a></p>
                    </li>
                    <li>
                        <p class="dsc-li-user"><a href="#">湖南卫视国际频道</a></p>
                    </li>
                    <li>
                        <p><a href="#"><img src="/images/emp-25.png" alt=" "></a></p>
                    </li>
                    <li>
                        <p><a href="#"><img src="/images/emp-25.png" alt=" "></a></p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
        -->
        <section class="cols2">
            <h3 class="bmfw"><p>专家评委</p></h3>
            <div class="cols2-imglist clear">
                <ul>
                    @foreach (var item in Model.event_zhuanjiapingwei)
                    {
                        <li>
                    <a href="">
                            <p><img src="@item.article_cover_image" alt="@item.article_title"></p>
                            <h3>@item.article_title</h3>
                        </a>
                        </li>
                    }
                </ul>
            </div>
        </section>
        <section class="cols2">
            <h3 class="sjgly"><p>参赛单位</p></h3>
            <div class="cols2-imglist clear">
                <ul>
                    @foreach (var item in Model.event_cansaidanwei)
                    {
                        <li>
                            <a href="">
                                <p><img src="@item.article_cover_image" alt="@item.article_title"></p>
                                <h3>@item.article_title</h3>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </section>

    </section>
    <section class="c-con clear" style="background-color:#FFF;">
       
        <section class="links">
            <h3><p>友情链接</p></h3>
            @{Html.RenderAction("FriendLink", "Partinal");}
        </section>
    </section>
    @{Html.RenderAction("Footer", "Partinal");}
    <script src="js/swiper.min.js"></script>
    <script src="js/fun.js"></script>
    <script>
        var swiper1 = new Swiper('.swiper1', {
            pagination: '.swiper-pagination1',
            paginationClickable: true,
            spaceBetween: 0,
            autoplay: 3500,
            loop: true
        });
    </script>
</body>
</html>