
@{
    Layout = null;
}

@using ChineseCulture.Model;
@using Webdiyer.WebControls.Mvc;

@model ArticlePageViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>中国校园文化网</title>
    @*<link rel="stylesheet" type="text/css" href="./css/global.css">
        <link rel="stylesheet" href="css/swiper.min.css">
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <link rel="stylesheet" type="text/css" href="./css/dasai.css">
        <script src="js/jquery-1.11.1.min.js"></script>*@
    @Styles.Render("~/Content/dasai")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/homepage")
</head>
<body style="background-image:url(/images/body2.png)">
    @{Html.RenderAction("EventPageHeader", "Partinal");}
    @{Html.RenderAction("EventHomeMenu", "Partinal");}
    <section class="main c-con clear" style="padding-top:0;">
        <div class="swiper-container swiper8">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/images/emp-14.png"></div>
                <div class="swiper-slide"><img src="/images/emp-14.png"></div>
                <div class="swiper-slide"><img src="/images/emp-14.png"></div>
                <div class="swiper-slide"><img src="/images/emp-14.png"></div>
                <div class="swiper-slide"><img src="/images/emp-14.png"></div>
                <div class="swiper-slide"><img src="/images/emp-14.png"></div>
            </div>
            <div class="swiper-pagination swiper-pagination8"></div>
        </div>
        @*<section class="dasai-location c-con clear" style="padding-top:20px;">
                <h3><a href="#">中国校园文化网</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="#">活动大赛</a>&nbsp;&nbsp;>&nbsp;&nbsp;文学教程&nbsp;&nbsp;</h3><h4 class="clear"><p class="on">书画手工</p><p>艺术表演</p><p>龙虎榜</p></h4>
            </section>*@
        <section class="dasai-location">
            <a href="/">中国校园文化网</a>&nbsp;>&nbsp;<a href="/Article/List/cid_@Model.ThisArticleFatherCategory.category_id">@Model.ThisArticleFatherCategory.category_name</a>&nbsp;>&nbsp;@Model.ThisArticleCategory.category_name
        </section>
        <section class="dasai-types">
            类别：<a href="#" class="dstypes-on">全部</a>&nbsp;&nbsp;
            @foreach (ArticleCategory ac in Model.ArticleCategoryList)
            {
                <a href="/" class="dstypes-on">
                    @ac.category_name
                </a>
            }

        </section>

        <section class="dasai-list clear">
            <ul>
                @Html.Partial("_ListPartial", Model)

                @*<li>
                        <a href="#" class="dsl-img"><img src="images/emp-22.png" alt=" "></a>
                        <h3><a href="#">大众汽车拥有悠久的历史</a></h3>
                        <p>大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程.大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程...</p>
                        <h4><span>123456票</span><a href="#">我要投票</a></h4>
                    </li>*@
            </ul>
        </section>
        <div class="pages clear">
            @Html.Pager(Model.articlePageList).Options(o => o.SetFirstPageRouteName("MvcPager_DefaultEvent").SetRouteName("MvcPager_Pager1").SetPagerItemTemplate("{0}&nbsp;").SetCssClass("pagesmain"))

        </div>

    </section>
    <section class=" c-con clear" style="background-color:#FFF;">
        <section class="cyfh-blank"></section>
        <section class="links">
            <h3><p>友情链接</p></h3>
            @{Html.RenderAction("FriendLink", "Partinal");}
        </section>
    </section>
    @{Html.RenderAction("Footer", "Partinal");}
    <script src="js/swiper.min.js"></script>
    <script src="js/fun.js"></script>
    <script>
        var swiper8 = new Swiper('.swiper8', {
            pagination: '.swiper-pagination8',
            paginationClickable: true,
            spaceBetween: 0,
            autoplay: 3500,
            loop: true
        });
    </script>
</body>
</html>