@using ChineseCulture.Model;
@model AdminIndexViewModel
<section class="Hui-article-box">
    <nav class="breadcrumb">
        <i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a>
        <span class="c-999 en">&gt;</span>
        <span class="c-666">我的桌面</span>
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <article class="page-container">
        <p class="f-20 text-success">
            欢迎使用中国校园文化网管理系统
            <span class="f-14">v1.0</span>
        </p>

        <p>本次登录IP：@Model.IpAddress </p>

        <table class="table table-border table-bordered table-bg mt-20">
            <thead>
                <tr>
                    <th colspan="2" scope="col">服务器信息</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th width="30%">服务器计算机名</th>
                    <td><span id="lbServerName">@Model.serverName</span></td>
                </tr>
                <tr>
                    <td>服务器IP地址</td>
                    <td>@Request.ServerVariables["LOCAL_ADDR"]</td>
                </tr>
                <tr>
                    <td>服务器域名</td>
                    <td>@Request.ServerVariables["SERVER_NAME"]</td>
                </tr>
                <tr>
                    <td>服务器操作系统版本</td>
                    <td>@Environment.OSVersion.ToString()</td>
                </tr>
                <tr>
                    <td>服务器端口 </td>
                    <td>@Request.ServerVariables["SERVER_PORT"]</td>
                </tr>

                <tr>
                    <td>服务器IIS版本 </td>
                    <td>@Request.ServerVariables["SERVER_SOFTWARE"]</td>
                </tr>

            </tbody>
        </table>
    </article>

  
</section>