
@{
    Layout = null;
}
@using ChineseCulture.Model;
@using Webdiyer.WebControls.Mvc;

@model ArticlePageViewModel

<div class="cyfh-list">
    <ul>
        @foreach (var item in Model.articlePageList)
        {
            <li class="clear">
                <div class="cyfh-li-about clear">
                    <h3><a  href="@item.article_click_url">@item.article_title</a></h3>
                    <p>@Html.Raw(@item.article_description)</p>
                    <a href="@item.article_click_url" class="cyfh-li-btn">浏览全文 <i class="iconfont">&#xe657;</i></a>
                </div>
            </li>
        }
        

    </ul>
</div>