@{ Layout = null;}
@using ChineseCulture.Model;

@model ArticlePageViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@Model.articleModel.article_title-中国校园文化网</title>
    @Styles.Render("~/Content/homepage")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/homepage")
</head>
<body>
    @{Html.RenderAction("PageHeader", "Partinal");}
    @{Html.RenderAction("HomePageMenu", "Partinal");}
    @{Html.RenderAction("HomePageCategoryMenu", "Partinal");}
    <section class="main c-con clear" style="background-color:#FFF;">
        <section class="dasai-location">
            <a href="#">中国校园文化网</a>&nbsp;>&nbsp;@Model.ThisArticleFatherCategory.category_name><a href="/article/cid_@(Model.ThisArticleCategory.category_id+".html")">@Model.ThisArticleCategory.category_name</a>
        </section>
        <section class="dasai-detail clear">
            <section class="dsd-left">
                <header class="dsd-l-header">@Model.articleModel.article_title</header>
                <div class="dsd-l-canshu">
                    <a href="#"><i class="iconfont">&#xe6bd;</i>&nbsp;分享</a>
                    <a href="#"><i class="iconfont">&#xe6c1;</i>&nbsp;评论</a>
                    <a href="#"><i class="iconfont">&#xe740;</i>&nbsp;收藏</a>@Model.articleModel.article_kdate
                </div>
                @*<div class="dsd-l-author">
                        <h3>习近平出席博鳌亚洲论坛2018年年会开幕式并发表主旨演讲</h3>
                        <h3>强调顺应时代潮流坚持开放共赢</h3>
                        <h3>宣布中国扩大开放新的重大举措</h3>
                    </div>*@
                <div class="dsd-l-cen">
                    @Html.Raw(@Model.articleModel.article_content)
                </div>

                <section class="dsd-l-pinglun">
                    <header class="dsd-lpl-header"><a href="#">0条评论</a>网友评论</header>
                    <div class="dsd-lpl-form clear">
                        <p><textarea name=" " placeholder="说两句吧......"></textarea></p>
                        <p><input type="submit" value="发布评论"></p>
                    </div>
                </section>
                <!--
                <section class="dsd-lpl-list">
                    <ul>
                        <li class="clear">
                            <a href="#" class="dsd-lpl-li-img"><img src="images/emp-11.png" alt=" "></a>
                            <div class="dsd-lpl-li-about">
                                <h3>bb123456</h3>
                                <p>最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~</p>

                                <div class="dsd-lpl-liabout-btn">
                                    <a href="#"><i class="iconfont">&#xe6d2;</i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><i class="iconfont">&#xe737;</i></a>
                                </div>
                            </div>
                        </li>
                        <li class="clear">
                            <a href="#" class="dsd-lpl-li-img"><img src="images/emp-11.png" alt=" "></a>
                            <div class="dsd-lpl-li-about">
                                <h3>bb123456</h3>
                                <p>最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~</p>
                                <div class="dsd-lpl-liabout-reply">
                                    <ul>
                                        <li>
                                            <h3>bb123456</h3>
                                            <p>最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~</p>
                                        </li>
                                        <li>
                                            <h3>bb123456</h3>
                                            <p>最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dsd-lpl-liabout-btn">
                                    <a href="#"><i class="iconfont">&#xe6d2;</i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><i class="iconfont">&#xe737;</i></a>
                                </div>
                            </div>
                        </li>
                        <li class="clear">
                            <a href="#" class="dsd-lpl-li-img"><img src="images/emp-11.png" alt=" "></a>
                            <div class="dsd-lpl-li-about">
                                <h3>bb123456</h3>
                                <p>最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~</p>

                                <div class="dsd-lpl-liabout-btn">
                                    <a href="#"><i class="iconfont">&#xe6d2;</i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><i class="iconfont">&#xe737;</i></a>
                                </div>
                                <div class="dsd-lpl-form clear">
                                    <p><textarea name=" " placeholder="说两句吧......"></textarea></p>
                                    <p><input type="submit" value="回复"></p>
                                </div>
                            </div>
                        </li>
                        <li class="clear">
                            <a href="#" class="dsd-lpl-li-img"><img src="images/emp-11.png" alt=" "></a>
                            <div class="dsd-lpl-li-about">
                                <h3>bb123456</h3>
                                <p>最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~</p>
                                <div class="dsd-lpl-liabout-reply">
                                    <ul>
                                        <li>
                                            <h3>bb123456</h3>
                                            <p>最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~</p>
                                        </li>
                                        <li>
                                            <h3>bb123456</h3>
                                            <p>最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~</p>
                                        </li>
                                        <li>
                                            <h3>bb123456</h3>
                                            <p>最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dsd-lpl-liabout-btn">
                                    <a href="#"><i class="iconfont">&#xe6d2;</i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><i class="iconfont">&#xe737;</i></a>
                                </div>
                            </div>
                        </li>
                        <li class="clear">
                            <a href="#" class="dsd-lpl-li-img"><img src="images/emp-11.png" alt=" "></a>
                            <div class="dsd-lpl-li-about">
                                <h3>bb123456</h3>
                                <p>最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~</p>

                                <div class="dsd-lpl-liabout-btn">
                                    <a href="#"><i class="iconfont">&#xe6d2;</i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><i class="iconfont">&#xe737;</i></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
                -->
            </section>
            <section class="dsd-right">

                <section class="dsd-right-col">
                    <header class="dsd-rcol-header">
                        <h3>精彩分享</h3>
                    </header>
                    <div class="dsd-rcol-list">
                        <ul>
                            @foreach (var item in Model.articleRightList)
                            {
                                <li><a href="@item.article_click_url">@item.article_title</a></li>
                            }
                        </ul>
                    </div>
                </section>
            </section>
        </section>

        <!--<section class="cols2">
            <h3 class="bmfw"><p>便民服务</p></h3>
            <div class="cols2-txtlist">
                <ul>
                    <li><a href="#"><p>全国校园之星原创文艺作品争霸赛，在国内设8大赛区和南北美洲国际赛区与亚欧非洋国际赛区。决赛即将开始，欢迎有实力的企业独家冠名。15938726942</p><h3>寻人启事</h3></a></li>
                    <li><a href="#"><p>河南慧涓文化传播有限公司，因业务发展需要诚聘各省市大学校园代理。要求大一或大三、研究生均可，只要业余时间比较多；主要负责赛事招商、组织参赛 </p><h3>公益公约</h3></a></li>
                    <li><a href="#"><p>全国校园之星原创文艺作品争霸赛总决赛与颁奖文艺晚会，将于6月底至7月中旬拉开帷幕，敬请关注、欢迎参加！服务电话：0371-65339250</p><h3>赛事宣传</h3></a></li>
                    <li><a href="#"><p>校园之星文艺杂志，将于首届全国校园之星文艺作品争霸赛决赛与颁奖文艺晚会后开始编辑并面向各赛区获奖选手与工作人员发行。敬请大家关注</p><h3>媒体社团</h3></a></li>
                    <li><a href="#"><p>因赛事和中国校园文化网第二版上线需要，特向全国各地诚招城市合伙人。不需要你出技术和平台，只要有办公场地和员工即可。欢迎大家踊跃报名合作</p><h3>紧急求助</h3></a></li>
                </ul>
            </div>
        </section>
        <section class="cols2">
            <h3 class="cfzx"><p>财富之星</p></h3>
            <div class="cols2-imglist clear">
                <ul>
                    <li><a href="#"><p><img src="images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-07.png" alt=" "></p><h3>李艳霞</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-07.png" alt=" "></p><h3>李艳霞</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                </ul>
            </div>
        </section>
        <section class="cols2">
            <h3 class="bmfw"><p>娱乐快报</p></h3>
            <div class="cols2-txtlist">
                <ul>
                    <li><a href="#"><p>中国校园文化艺术节，是全国校园之星原创文艺作品争霸赛组委会推出的一项国家级总决赛与国际赛区获奖选手与评审团在各赛区巡演的重要文艺活动。</p><h3>中国校园文化艺术节</h3></a></li>
                    <li><a href="#"><p>主要面对民办全日制和培训机构展开的一项重要活动，侧重于办学资质、特色课程与专家团队、商业模式与发展规划、家长与学生评论为评价指标。</p><h3>十佳教育品牌综合实力排行榜</h3></a></li>
                    <li><a href="#"><p>主要针对全国校园之星原创文艺作品争霸赛的历届获奖选手展开，也包括各赛区的艺术类评委（不含国家级与国际赛区评委），是赛事组委会推星的重 </p><h3>我喜爱的歌手/演员排行榜</h3></a></li>
                    <li><a href="#"><p>排行榜针对各大民办学校讲师、获奖选手、各赛区主持人为活动参与对象，打造权威、知名、覆盖全面的赛事组委会8大排行榜单；为打造中华民族文化品牌</p><h3>我喜爱的主持人/讲师排行榜</h3></a></li>
                    <li><a href="#"><p>本排行榜主要针对全国校园之星原创文艺作品争霸赛获奖选手参与拍摄和表演的微电影与电视剧而设的实力榜单，是校园文艺性活动的重要组成部分。</p><h3>我喜爱的微电影/电视剧排行榜</h3></a></li>
                </ul>
            </div>
        </section>
        <section class="cols2">
            <h3 class="sjgly"><p>十佳管理员</p></h3>
            <div class="cols2-imglist clear">
                <ul>
                    <li><a href="#"><p><img src="images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-07.png" alt=" "></p><h3>李艳霞</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-07.png" alt=" "></p><h3>李艳霞</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                </ul>
            </div>
        </section>-->

    </section>
    <section class="c-con clear" style="background-color:#FFF;">
        <section class="cyfh-blank"></section>
        <section class="links">
            <h3><p>友情链接</p></h3>
            @{Html.RenderAction("FriendLink", "Partinal");}
        </section>
    </section>
    @{Html.RenderAction("Footer", "Partinal");}
</body>
</html>