@{ Layout = null;}
@using ChineseCulture.Model;
@using Webdiyer.WebControls.Mvc;

@model ArticlePageViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>中国校园文化网-@Model.ThisArticleFatherCategory.category_name</title>
    @Styles.Render("~/Content/homepage")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/homepage")


</head>
<body>
    @{Html.RenderAction("PageHeader", "Partinal");}
    @{Html.RenderAction("HomePageMenu", "Partinal");}
    @{Html.RenderAction("HomePageCategoryMenu", "Partinal");}
    <section class="main c-con clear" style="background-color:#FFF;">
        <section class="cyfh-cols dasai-detail clear">
            <section class="dasai-location">
                <a href="/">中国校园文化网</a>&nbsp;>&nbsp;<a href="/article/cid_@(Model.ThisArticleFatherCategory.category_id+".html")">@Model.ThisArticleFatherCategory.category_name</a>&nbsp;>&nbsp;@Model.ThisArticleCategory.category_name
            </section>
            <section class="dasai-types">
                类别：<a href="#" class="dstypes-on">全部</a>&nbsp;&nbsp;
                @foreach (ArticleCategory ac in Model.ArticleCategoryList)
                {
                    <a href="/article/cid_@(ac.category_id+".html")" class="dstypes-on">
                        @ac.category_name
                    </a>
                }

            </section>
            <section class="cyfh-left">

                @Html.Partial("_ArticleListPartial", Model)
                @Html.Pager(Model.articlePageList).Options(o => o.SetFirstPageRouteName("MvcPager_Default").SetRouteName("MvcPager_Pager1").SetPagerItemTemplate("{0}&nbsp;").SetCssClass("pagesmain"))
            </section>
            <section class=" dsd-right">

                <section class="dsd-right-col">
                    <header class="dsd-rcol-header">
                        <h3>精彩分享</h3>
                    </header>
                    <div class="dsd-rcol-list">
                        <ul>
                            @foreach (var item in Model.articleRightList)
                            {
                                <li><a href="@item.article_click_url">@item.article_title</a></li>
                            }

                        </ul>
                    </div>
                </section>
            </section>
        </section>
    </section>
    <section class=" c-con clear" style="background-color:#FFF;">
        <section class="cyfh-blank"></section>
        <section class="links">
            <h3><p>友情链接</p></h3>
            @{Html.RenderAction("FriendLink", "Partinal");}
        </section>
    </section>
    @{Html.RenderAction("Footer", "Partinal");}
</body>
</html>
<script>

    var swiper5 = new Swiper('.swiper5', {
        pagination: '.swiper-pagination5',
        paginationClickable: true,
        spaceBetween: 0,
        autoplay: 2500,
        loop: true
    });
    var swiper3 = new Swiper('.swiper3', {
        pagination: '.swiper-pagination3',
        paginationClickable: true,
        spaceBetween: 0,
        autoplay: 2500,
        loop: true
    });
</script>