@using ChineseCulture.Model;
@model ArticleCategory
@Scripts.Render("~/bundles/ueditor")
<section class="Hui-article-box">
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span>
        资讯管理
        <span class="c-gray en">&gt;</span>
        文章编辑
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <article class="page-container">
        <form class="form form-horizontal" id="form-article-add" action="/ArticleCategory/Edit" method="post" enctype="multipart/form-data">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>类别名称：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    @Html.TextBoxFor(model => model.category_name, htmlAttributes: new { @class = "input-text" })
                    @Html.HiddenFor(model => model.category_id, htmlAttributes: new { @class = "input-text" })
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">类别code（可空）：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    @Html.TextBoxFor(model => model.category_code, htmlAttributes: new { @class = "input-text" })

                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>父级节点：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    @Html.DropDownListFor(model => model.category_father_id, ViewBag.ArticleCategory as IEnumerable<SelectListItem>, new { @class = "select-box" })
                    @*<span class="select-box">
                            <select name="category_id" class="select">
                                <option value="0">全部栏目</option>
                                <option value="1">新闻资讯</option>
                                <option value="11">├行业动态</option>
                                <option value="12">├行业资讯</option>
                                <option value="13">├行业新闻</option>
                            </select>
                        </span>*@
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">排序值：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    @Html.TextBoxFor(model => model.category_sort, htmlAttributes: new { @class = "input-text" })
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">状态：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    @Html.TextBoxFor(model => model.category_state, htmlAttributes: new { @class = "input-text" })
                </div>
            </div>

            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                    <button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                    @*<button onClick="article_save();" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存草稿</button>
                        <button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>*@
                </div>
            </div>
        </form>
    </article>

    <!--/_footer /作为公共模版分离出去-->

    <script type="text/javascript">
        $(function () {
            $('.skin-minimal input').iCheck({
                checkboxClass: 'icheckbox-blue',
                radioClass: 'iradio-blue',
                increaseArea: '20%'
            });

    </script>
    <!--/请在上方写此页面业务相关的脚本-->
</section>