@{ Layout = null;}
@using ChineseCulture.Model;

@model HomePageViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>中国校园文化网</title>
    @Styles.Render("~/Content/homepage")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/homepage")
    <meta name="description" content="中国校园文化网，致力于教育培训行业一站式综合体规划与建设、致力于大学生创业就业服务与校园赛事活动组织策划、致力于企业品牌定制推广与项目设计和产业规划!">
    <meta name="Keywords" content="赛事,活动,教育,培训,文化,艺术,校园,杂志,作,口才,舞蹈,书画,网站" />

</head>
<body>

    @{Html.RenderAction("HomePageMenu", "Partinal");}
    @{Html.RenderAction("HomePageCategoryMenu", "Partinal");}
    <section class="notic c-con">
        <div class="notic-cen">
            <div class="nc-list clear">
                <marquee direction="left" scrollamount="100" scrolldelay="1000" width="100%" onmouseover="this.stop();" onmouseout="this.start();">
                    @foreach (var item in Model.ShouyeGundonggonggao)
                    {
                        @item.article_description
                    }
                </marquee>
            </div>
        </div>
    </section>
    <section class="main c-con clear">
        <div class="swiper-container swiper1">
            <div class="swiper-wrapper">
                @foreach (var item in Model.Shouyegundonggonggaotupian)
                {
                    <div class="swiper-slide">
                        <a target="_blank" href="@item.article_click_url">
                            <img src="@item.article_cover_image">
                        </a>
                    </div>
                }

            </div>
            <div class="swiper-pagination swiper-pagination1"></div>
        </div>
        <section class="affiche">
            <h3>网站公告</h3>
            <div class="affiche-list">
                <ul>
                    @foreach (var item in Model.WangzhanGonggao)
                    {
                        <li><a target="_blank" href="@item.article_click_url">@item.article_title</a></li>

                    }

                </ul>
            </div>
        </section>
        <section class="hots">
            <div class="news">
                <h3>最新资讯</h3>
                <div class="news-list">
                    <ul>
                        @foreach (var item in Model.Zuixinzixun)
                        {
                            <li><a target="_blank" href="@item.article_click_url">@item.article_title</a></li>

                        }
                    </ul>
                </div>
            </div>
            <div class="sjzp">
                <h3>书籍与文学作品</h3>
                <div class="sjzp-list">
                    <ul>
                        @foreach (var item in Model.Wenxuezuopin)
                        {
                            <li>
                                <p><a target="_blank" href="@item.article_click_url">@item.category_name</a></p>
                                <p><a target="_blank" href="@item.article_click_url">@item.article_title</a></p>
                                <p>@item.article_author</p>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </section>
        <section class="cols">
            <header class="col1-tab clear">
                <p class="on">学校</p>
                @foreach (var item in Model.XuexiaoDetail)
                {
                    <p>@item.category_name</p>
                }

                <a href="#">更多</a>
            </header>
            <div class="col1-con">
                <div class="col1-item clear">
                    <div class="c1-item-list">
                        <ul>
                            @foreach (var item in Model.XuexiaoFirst)
                            {
                                <li>
                                    <h3><p>@item.category_name</p></h3>
                                    @foreach (var xuexiaoDetail in item.articleList)
                                    {

                                        <a target="_blank" href="@xuexiaoDetail.article_click_url">
                                            <h4>@xuexiaoDetail.article_title</h4>
                                            <p><img src="@xuexiaoDetail.article_cover_image" alt=" "></p>
                                        </a>
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="c1-item-video">
                        <video id="video" poster="@Model.ShouyexuexiaoshipinOnePic.article_cover_image" controls preload="auto" style="width:484px; height:380px;">
                            <source src="@Model.ShouyexuexiaoshipinOne.article_cover_image" type="video/mp4"></source>
                            <source src="/images/vedio/videvideo.mp4" type="video/mp4"></source>
                            <source src="/images/vedio/videvideo.ogv" type="video/ogg"></source>
                            <source src="/images/vedio/videvideo.webm" type="video/webm"></source>
                        </video>
                    </div>
                </div>

                @foreach (var xuexiaoSec in Model.XuexiaoDetail)
                {
                    <div class="col1-item clear">
                        <div class="c1-item-list">
                            <ul>
                                <li>

                                    @foreach (var item in xuexiaoSec.articleList)
                                    {
                                        <a target="_blank" href="@item.article_click_url">
                                            <h4>@item.article_title</h4>
                                            <p><img src="@item.article_cover_image" alt=" "></p>
                                        </a>
                                    }
                                </li>
                            </ul>
                        </div>
                        <div class="c1-item-hot">

                            @foreach (var item in Model.Shouyexuexiaotupian)
                            {
                                <a target="_blank" href="@item.article_click_url">
                                    <h3>@item.article_title</h3>
                                    <p>
                                    <img src="@item.article_cover_image" alt=" ">
                                    </p>
                                </a>
                            }


                        </div>
                    </div>
                }
                <!--
                                <div class="col1-item clear">
                                    <div class="c1-item-list">
                                        <ul>
                                            <li>


                                            </li>
                                        </ul>
                                    </div>
                                    <div class="c1-item-hot">
                                        <a target="_blank" href="#">
                                            <h3>幼儿园名称</h3>
                                            <p><img src="/images/emp-05.png" alt=" "></p>
                                        </a>
                                    </div>
                                </div>
                -->

            </div>
        </section>
        <section class="cols">
            <header class="col2-tab clear">
                <p class="on">培训机构</p>
                @foreach (var item in Model.PeixunjigouDetail)
                {
                    <p>@item.category_name</p>
                }

                <a href="#">更多</a>
            </header>
            <div class="col2-con">
                <div class="col2-item clear">
                    <div class="swiper-container swiper2">
                        <div class="swiper-wrapper">
                            @foreach (var item in Model.ShouyePeixunjigougundongtupian)
                            {
                                <div class="swiper-slide">
                                    <a target="_blank" href="@item.article_click_url">
                                        <img src="@item.article_cover_image">
                                    </a>
                                </div>
                            }
                        </div>
                        <div class="swiper-pagination swiper-pagination2"></div>
                    </div>
                    <div class="c2-item-list">
                        <ul>
                            @foreach (var item in Model.PeixunjigouFirst)
                            {
                                <li>
                                    <h3><p>@item.category_name</p></h3>
                                    @foreach (var xuexiaoDetail in item.articleList)
                                    {

                                        <a target="_blank" href="@xuexiaoDetail.article_click_url">
                                            <h4>@xuexiaoDetail.article_title</h4>
                                            <p>@xuexiaoDetail.article_description</p>
                                        </a>
                                    }
                                </li>
                            }

                        </ul>
                    </div>

                </div>


                @foreach (var detailItem in Model.PeixunjigouDetail)
                {
                    <div class="col2-item clear">
                        <div class="c2-item-hot">
                            @foreach (var item in Model.ShouyePeixunjigoutupian)
                            {
                                <a target="_blank" href="@item.article_click_url">
                                    <h3>@item.article_title</h3>
                                    <p><img src="@item.article_cover_image" alt=" "></p>
                                </a>
                            }

                        </div>
                        <div class="c2-item-list">
                            <ul>

                                <li>
                                    @foreach (var item in detailItem.articleList)
                                    {
                                        <a target="_blank" href="@item.article_click_url">
                                            <h4>@item.article_title</h4>
                                            <p>@item.article_description</p>
                                        </a>
                                    }
                                </li>
                            </ul>
                        </div>

                    </div>
                }

            </div>
        </section>
        <section class="cols">
            <header class="col3-tab clear">
                <p class="on">求职招聘</p>
                @foreach (var item in Model.QiuzhizhaopinDetail)
                {
                    <p>@item.category_name</p>
                }

                <a href="#">更多</a>
            </header>
            <div class="col3-con">
                <div class="col3-item clear">
                    <div class="c3-item-list">
                        <ul>

                            @foreach (var item in Model.QiuzhizhaopinFirst)
                            {
                                <li>
                                    <h3><p>@item.category_name</p></h3>
                                    @foreach (var xuexiaoDetail in item.articleList)
                                    {

                                        <a target="_blank" href="@xuexiaoDetail.article_click_url">
                                            <h4>@xuexiaoDetail.article_title</h4>
                                            <p><img src="@xuexiaoDetail.article_cover_image" alt=" "></p>
                                        </a>
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="c3-item-hot">
                        @foreach (var item in Model.ShouyeQiuzhizhaopintupian)
                        {
                            <a target="_blank" href="@item.article_click_url">
                                <h3>@item.article_title</h3>
                                <p><img src="@item.article_cover_image" alt=" "></p>
                            </a>
                        }
                    </div>
                </div>




                @foreach (var xuexiaoSec in Model.QiuzhizhaopinDetail)
                {
                    <div class="col3-item clear">
                        <div class="c3-item-list">
                            <ul>
                                <li>

                                    @foreach (var item in xuexiaoSec.articleList)
                                    {
                                        <a target="_blank" href="@item.article_click_url">
                                            <h4>@item.article_title</h4>
                                            <p><img src="@item.article_cover_image" alt=" "></p>
                                        </a>
                                    }
                                </li>
                            </ul>
                        </div>
                        <div class="c1-item-hot">
                            @foreach (var item in Model.ShouyeQiuzhizhaopintupian)
                            {
                                <a target="_blank" href="@item.article_click_url">
                                    <h3>@item.article_title</h3>
                                    <p><img src="@item.article_cover_image" alt=" "></p>
                                </a>
                            }
                        </div>
                    </div>
                }

            </div>
        </section>
        <section class="cols">
            <header class="col4-tab clear">
                <p class="on">专家讲师</p>
                @foreach (var item in Model.ZhuanjiajiangshiDetail)
                {
                    <p>@item.category_name</p>
                }
                <a href="#">更多</a>
            </header>
            <div class="col4-con">
                <div class="col4-item clear">
                    <div class="swiper-container swiper4">
                        <div class="swiper-wrapper">
                            @foreach (var item in Model.ShouyeZhuanjiajiangshigundongtupian)
                            {
                                <div class="swiper-slide">
                                    <a target="_blank" href="@item.article_click_url">
                                        <img src="@item.article_cover_image">
                                    </a>
                                </div>
                            } 
                        </div>
                        <div class="swiper-pagination swiper-pagination4"></div>
                    </div>
                    <div class="c4-item-list">
                        <ul>

                            @foreach (var item in Model.ZhuanjiajiangshiFirst)
                            {
                                <li>
                                    <h3><p>@item.category_name</p></h3>
                                    @foreach (var xuexiaoDetail in item.articleList)
                                    {

                                        <a target="_blank" href="@xuexiaoDetail.article_click_url">
                                            <h4>@xuexiaoDetail.article_title</h4>
                                            <p>@xuexiaoDetail.article_description</p>
                                        </a>
                                    }
                                </li>
                            }

                        </ul>
                    </div>
                </div>

                @foreach (var detailItem in Model.ZhuanjiajiangshiDetail)
                {
                    <div class="col4-item clear">
                        <div class="c4-item-hot">
                            @foreach (var item in Model.ShouyeZhuanjiajiangshitupian)
                            {
                                <a href="@item.article_click_url" target="_blank">
                                    <h3>@item.article_title</h3>
                                    <p><img src="@item.article_cover_image" alt=" "></p>
                                </a>
                            }

                        </div>
                        <div class="c2-item-list">
                            <ul>

                                <li>
                                    @foreach (var item in detailItem.articleList)
                                    {
                                        <a target="_blank" href="@item.article_click_url">
                                            <h4>@item.article_title</h4>
                                            <p>@item.article_description</p>
                                        </a>
                                    }
                                </li>
                            </ul>
                        </div>

                    </div>
                }

            </div>
        </section>
        <section class="cols">
            <header class="col5-tab clear">
                <p class="on">校园名人</p>
                @foreach (var item in Model.XiaoyuanmingrenDetail)
                {
                    <p>@item.category_name</p>
                }
                <a href="#">更多</a>
            </header>
            <div class="col5-con">
                <div class="col5-item clear">
                    <div class="c5-item-list">
                        <ul>
                            @foreach (var item in Model.XiaoyuanmingrenFirst)
                            {
                                <li>
                                    <h3><p>@item.category_name</p></h3>
                                    @foreach (var xuexiaoDetail in item.articleList)
                                    {

                                        <a target="_blank" href="@xuexiaoDetail.article_click_url">
                                            <h4>@xuexiaoDetail.article_title</h4>
                                            <p><img src="@xuexiaoDetail.article_cover_image" alt=" "></p>
                                        </a>
                                    }
                                </li>
                            }

                        </ul>
                    </div>
                    <div class="c5-item-hot">
                        @foreach (var item in Model.ShouyeXiaoyuanmingrentupian)
                        {
                            <a href="@item.article_click_url" target="_blank">
                                <h3>@item.article_title</h3>
                                <p><img src="@item.article_cover_image" alt=" "></p>
                            </a>
                        }
                    </div>
                </div>
                @foreach (var xuexiaoSec in Model.XiaoyuanmingrenDetail)
                {
                    <div class="col5-item clear">
                        <div class="c5-item-list">
                            <ul>
                                <li>

                                    @foreach (var item in xuexiaoSec.articleList)
                                    {
                                        <a target="_blank" href="@item.article_click_url">
                                            <h4>@item.article_title</h4>
                                            <p><img src="@item.article_cover_image" alt=" "></p>
                                        </a>
                                    }
                                </li>
                            </ul>
                        </div>
                        <div class="c1-item-hot">
                            @foreach (var item in Model.ShouyeXiaoyuanmingrentupian)
                            {
                                <a href="@item.article_click_url" target="_blank">
                                    <h3>@item.article_title</h3>
                                    <p><img src="@item.article_cover_image" alt=" "></p>
                                </a>
                            }
                        </div>
                    </div>
                }


            </div>
        </section>
        <section class="cols">
            <header class="col6-tab clear">
                <p class="on">创业合作</p>
                @foreach (var item in Model.ChuangyehezuoDetail)
                {
                    <p>@item.category_name</p>
                }
                <a href="#">更多</a>
            </header>
            <div class="col6-con">
                <div class="col6-item clear">
                    <div class="swiper-container swiper6">
                        <div class="swiper-wrapper">
                            @foreach (var item in Model.Shouyechuangyehezuogundongtupian)
                            {
                                <div class="swiper-slide">
                                    <a href="@item.article_click_url" target="_blank">
                                        <img src="@item.article_cover_image">
                                    </a>
                                </div>
                            }

                        </div>
                        <div class="swiper-pagination swiper-pagination6"></div>
                    </div>
                    <div class="c6-item-list">
                        <ul>


                            @foreach (var item in Model.ChuangyehezuoFirst)
                            {
                                <li>

                                    <h3><p>@item.category_name</p></h3>
                                    @foreach (var xuexiaoDetail in item.articleList)
                                    {

                                        <a target="_blank" href="@xuexiaoDetail.article_click_url">
                                            <h4>@xuexiaoDetail.article_title</h4>
                                            <p>@xuexiaoDetail.article_description</p>
                                        </a>
                                    }
                                </li>
                            }

                        </ul>
                    </div>
                </div>


                @foreach (var detailItem in Model.ChuangyehezuoDetail)
                {
                    <div class="col6-item clear">
                        <div class="c6-item-hot">
                            @foreach (var item in Model.Shouyechuangyehezuotupian)
                            {
                                <a href="@item.article_click_url" target="_blank">
                                    <h3>@item.article_title</h3>
                                    <p><img src="@item.article_cover_image" alt=" "></p>
                                </a>
                            }
                        </div>
                        <div class="c2-item-list">
                            <ul>

                                <li>
                                    @foreach (var item in detailItem.articleList)
                                    {
                                        <a target="_blank" href="@item.article_click_url">
                                            <h4>@item.article_title</h4>
                                            <p>@item.article_description</p>
                                        </a>
                                    }
                                </li>
                            </ul>
                        </div>

                    </div>
                }

            </div>
        </section>
        <section class="cols2">
            <h3 class="bmfw"><p>便民服务</p></h3>
            <div class="cols2-txtlist">
                <ul>

                    @foreach (var item in Model.Bianminfuwu)
                    {
                        <li>
                            <a href="">
                                <p>
                                    @Html.Raw(@item.article_description)
                                </p>
                                <h3>@item.article_title</h3>
                            </a>
                        </li>
                    }
                    @*<li><a href="#"><p>全国校园之星原创文艺作品争霸赛，在国内设8大赛区和南北美洲国际赛区与亚欧非洋国际赛区。决赛即将开始，欢迎有实力的企业独家冠名。15938726942</p><h3>寻人启事</h3></a></li>*@

                </ul>
            </div>
        </section>
        <section class="cols2">
            <h3 class="cfzx"><p>财富之星</p></h3>
            <div class="cols2-imglist clear">
                <ul>
                    @foreach (var item in Model.Caifuzhixing)
                    {
                        <li>
                            <a href="">
                                <p>
                                    <img src=" @item.article_cover_image" alt=" ">
                                </p>
                                <h3>@item.article_title</h3>
                            </a>
                        </li>
                    }
                    @*<li><a href="#"><p><img src="/images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>*@

                </ul>
            </div>
        </section>
        <section class="cols2">
            <h3 class="bmfw"><p>娱乐快报</p></h3>
            <div class="cols2-txtlist">
                <ul>
                    @foreach (var item in Model.Yulekuaibao)
                    {
                        <li>
                            <a href="">
                                <p>
                                    @Html.Raw(@item.article_description)
                                </p>
                                <h3>@item.article_title</h3>
                            </a>
                        </li>
                    }
                    @*<li><a href="#"><p>中国校园文化艺术节，是全国校园之星原创文艺作品争霸赛组委会推出的一项国家级总决赛与国际赛区获奖选手与评审团在各赛区巡演的重要文艺活动。</p><h3>中国校园文化艺术节</h3></a></li>*@

                </ul>
            </div>
        </section>
        <section class="cols2">
            <h3 class="sjgly"><p>十佳管理员</p></h3>
            <div class="cols2-imglist clear">
                <ul>
                    @foreach (var item in Model.Shijiaguanliyuan)
                    {
                        <li>
                            <a href="">
                                <p><img src=" @item.article_cover_image" alt=" "></p>
                                <h3>@item.article_title</h3>
                            </a>
                        </li>
                    }

                </ul>
            </div>
        </section>

    </section>

    @{Html.RenderAction("Footer", "Partinal");}

    <script>
        var swiper1 = new Swiper('.swiper1', {
            pagination: '.swiper-pagination1',
            paginationClickable: true,
            spaceBetween: 0,
            autoplay: 3500,
            loop: true
        });
        var swiper2 = new Swiper('.swiper2', {
            pagination: '.swiper-pagination2',
            paginationClickable: true,
            spaceBetween: 0,
            autoplay: 3000,
            loop: true
        });
        /* var swiper3 = new Swiper('.swiper3', {
             pagination: '.swiper-pagination3',
             paginationClickable: true,
             spaceBetween:0,
             autoplay: 2500,
             loop:true
         }); */
        var swiper4 = new Swiper('.swiper4', {
            pagination: '.swiper-pagination4',
            paginationClickable: true,
            spaceBetween: 0,
            autoplay: 3000,
            loop: true
        });
        /*var swiper5 = new Swiper('.swiper5', {
            pagination: '.swiper-pagination5',
            paginationClickable: true,
            spaceBetween:0,
            autoplay: 2500,
            loop:true
        });*/
        var swiper6 = new Swiper('.swiper6', {
            pagination: '.swiper-pagination6',
            paginationClickable: true,
            spaceBetween: 0,
            autoplay: 3000,
            loop: true
        });
    </script>
</body>
</html>