
@{
    Layout = null;
}
@using ChineseCulture.Model;

@model WenyizazhiHomePageViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>中国校园文化网</title>
    @Styles.Render("~/Content/dasai")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/homepage")

</head>
<body style="background-image:url(/images/body2.png)">
    @{Html.RenderAction("WenyizazhiPageHeader", "Partinal");}
    @{Html.RenderAction("WenyizashiHomeMenu", "Partinal");}
    <section class="main c-con clear">
        <div class="swiper-container swiper1">
            <div class="swiper-wrapper">

                @foreach (var item in Model.Zazhishouyegundongtupian)
                {
                    <div class="swiper-slide">
                        <a href="@item.article_click_url" target="_blank">
                            <img src="@item.article_cover_image">
                        </a>
                    </div>
                }
            </div>
            <div class="swiper-pagination swiper-pagination1"></div>
        </div>
        <section class="union">
            <h3>本年度两期获奖选手名单</h3>
            <div class="union-list">
                <ul>
                    @foreach (var item in Model.zazhi_bennianduliangqihuojiangxuanshoumingdan)
                    {
                        <li><a target="_blank" href="@item.article_click_url">@item.article_title</a></li>
                    }
                </ul>
            </div>
        </section>
        <section class="hjmingdan">
            <h3>最新杂志</h3>
            <div class="hjmingdan-list"><a href="#"><img src="/images/emp-30.png" alt=" "></a></div>
        </section>

        <!--<section class="notic c-con">
            <div class="notic-cen">
                <div class="nc-list clear">
                    <marquee direction="left" scrollamount="100" scrolldelay="1000" width="100%" onmouseover="this.stop();" onmouseout="this.start();">首届全国校园之星原创文艺作品争霸赛国家级总决赛与颁奖文艺晚会将于2018年7月29日举行，独家冠名与赞助企业火爆招商中，面向全国各省市诚招大学校园代理和赛区、分赛区与海选城市承办组织单位。服务热线：0371-65339250   15938726942
                    </marquee>
                </div>
            </div>
        </section>-->

        <section class="dscols">
            <header class="col-tab clear">
                <p class="on">名家风采</p>
                @foreach (var item in Model.MingjiafengcaiCategoryList)
                {
                    <p><a href="/Event/List/cid_@item.category_id">@item.category_name</a></p>
                }

                <a href="#">更多</a>
            </header>
            <div class="dscol-con">
                <header class="dsc-header clear">
                    <p></p>
                    @foreach (var item in Model.MingjiafengcaiCategoryArticleList)
                    {
                        <p>@item.category_name</p>
                    }
                </header>
                <div class="dsc-list clear">
                    <ul>
                        <li>
                            <p>名人档案</p>
                            <p>代表作品</p>
                            <p>所获荣誉</p>
                        </li>
                        @foreach (var categoryList in Model.MingjiafengcaiCategoryArticleList)
                        {
                            foreach (var item in categoryList.articleList)
                            {
                                <li>
                                    <p><a href="#"><img src="@item.article_cover_image" alt=" "></a></p>
                                    <p>
                                        <a href="@item.article_click_url">

                                            @Html.Raw(@item.article_description.Replace("\r\n", "<br>"))
                                        </a>
                                    </p>
                                    <p>@Html.Raw(@item.article_keywords.Replace("\r\n", "<br>"))</p>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </section>
        <section class="dscols">
            <header class="col-tab clear">
                <p class="on">青青校园</p>
                @foreach (var item in Model.qingchunxiaoyuanCategoryList)
                {
                    <p><a href="/Event/List/cid_@item.category_id">@item.category_name</a></p>
                }
                <a href="#">更多</a>
            </header>
            <div class="dscol-con">
                <header class="dsc-header clear">
                    <p></p>
                    @foreach (var item in Model.qingchunxiaoyuanCategoryArticleList)
                    {
                        <p>@item.category_name</p>
                    }
                </header>
                <div class="dsc-list clear">
                    <ul>
                        <li>
                            <p>现代诗歌</p>
                            <p>精品剧本</p>
                            <p>微型小说</p>
                        </li>
                        @foreach (var categoryList in Model.qingchunxiaoyuanCategoryArticleList)
                        {
                            foreach (var item in categoryList.articleList)
                            {
                                <li class="lizazhi">
                                    <p class="dsc-li-about"><a href="@item.article_click_url" target="_blank"> @Html.Raw(@item.article_description.Replace("\r\n", "<br>"))</a></p>

                                </li>

                            }
                        }

                    </ul>
                </div>
            </div>
        </section>
        <section class="dscols">
            <header class="col-tab clear">
                <p class="on">火红年华</p>
                @foreach (var item in Model.huohongnianhuaCategoryList)
                {
                    <p><a href="/Event/List/cid_@item.category_id">@item.category_name</a></p>
                }
                <a href="#">更多</a>
            </header>
            <div class="dscol-con">
                <header class="dsc-header clear">
                    <p></p>
                    @foreach (var item in Model.huohongnianhuaCategoryArticleList)
                    {
                        <p>@item.category_name</p>
                    }
                </header>
                <div class="dsc-list clear">
                    <ul>
                        <li>
                            <p>随心畅谈</p>
                            <p>精彩故事</p>
                            <p>短篇小说</p>
                        </li>
                        @foreach (var categoryList in Model.huohongnianhuaCategoryArticleList)
                        {
                            foreach (var item in categoryList.articleList)
                            {
                                <li class="lizazhi">
                                    <p class="dsc-li-about"><a href="@item.article_click_url" target="_blank"> @Html.Raw(@item.article_description.Replace("\r\n", "<br>"))</a></p>

                                </li>

                            }
                        }
                    </ul>
                </div>
            </div>
        </section>
        <section class="dscols">
            <header class="col-tab clear">
                <p class="on">故乡之恋</p>
                @foreach (var item in Model.guxiangzhilianCategoryList)
                {
                    <p><a href="/Event/List/cid_@item.category_id">@item.category_name</a></p>
                }
                <a href="#">更多</a>
            </header>
            <div class="dscol-con">
                <header class="dsc-header clear">
                    <p></p>
                    @foreach (var item in Model.guxiangzhilianCategoryArticleList)
                    {
                        <p>@item.category_name</p>
                    }
                </header>
                <div class="dsc-list clear">
                    <ul>
                        <li>
                            <p>古典诗词</p>
                            <p>散文随笔</p>
                            <p>故事小说</p>
                        </li>
                        @foreach (var categoryList in Model.guxiangzhilianCategoryArticleList)
                        {
                            foreach (var item in categoryList.articleList)
                            {
                                <li class="lizazhi">
                                    <p class="dsc-li-about"><a href="@item.article_click_url" target="_blank"> @Html.Raw(@item.article_description.Replace("\r\n", "<br>"))</a></p>

                                </li>

                            }
                        }
                    </ul>
                </div>
            </div>
        </section>
        <section class="dscols">
            <header class="col-tab clear">
                <p class="on">放飞梦想</p>
                @foreach (var item in Model.fangfeimengxiangCategoryList)
                {
                    <p><a href="/Event/List/cid_@item.category_id">@item.category_name</a></p>
                }
                <a href="#">更多</a>
            </header>
            <div class="dscol-con">
                <header class="dsc-header clear">
                    <p></p>
                    @foreach (var item in Model.fangfeimengxiangCategoryArticleList)
                    {
                        <p>@item.category_name</p>
                    }
                </header>
                <div class="dsc-list clear">
                    <ul>
                        <li>
                            <p>作家档案</p>
                            <p>佳作欣赏</p>
                            <p>荣誉展示</p>
                        </li>
                        @foreach (var categoryList in Model.fangfeimengxiangCategoryArticleList)
                        {
                            foreach (var item in categoryList.articleList)
                            {
                                <li>
                                    <p><a href="#"><img src="@item.article_cover_image" alt=" "></a></p>
                                    <p>
                                        <a href="@item.article_click_url">

                                            @Html.Raw(@item.article_description.Replace("\r\n", "<br>"))
                                        </a>
                                    </p>
                                    <p>@Html.Raw(@item.article_keywords.Replace("\r\n", "<br>"))</p>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </section>
        <section class="dscols">
            <header class="col-tab clear">
                <p class="on">获奖作品</p>
                @foreach (var item in Model.huojiangzuopinCategoryList)
                {
                    <p><a href="/Event/List/cid_@item.category_id">@item.category_name</a></p>
                }
                <a href="#">更多</a>
            </header>
            <div class="dscol-con">
                <header class="dsc-header clear">
                    <p></p>@foreach (var item in Model.huojiangzuopinCategoryArticleList)
                    {
                        <p>@item.category_name</p>
                    }
                </header>
                <div class="dsc-list clear">
                    <ul>
                        <li>
                            <p>名人智库</p>
                            <p>美文欣赏</p>
                            <p>荣誉成果</p>
                        </li>
                        @foreach (var categoryList in Model.huojiangzuopinCategoryArticleList)
                        {
                            foreach (var item in categoryList.articleList)
                            {
                                <li>
                                    <p><a href="#"><img src="@item.article_cover_image" alt=" "></a></p>
                                    <p>
                                        <a href="@item.article_click_url">

                                            @Html.Raw(@item.article_description.Replace("\r\n", "<br>"))
                                        </a>
                                    </p>
                                    <p>@Html.Raw(@item.article_keywords.Replace("\r\n", "<br>"))</p>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </section>
        <section class="cols2">
            <h3 class="bmfw"><p>名人推荐</p></h3>
            <div class="cols2-imglist clear">
                <ul>
                    @foreach (var item in Model.zazhi_mingrentuijian)
                    {
                        <li>
                            <a href="@item.article_click_url" target="_blank">
                                <p><img src="@item.article_cover_image" alt="@item.article_title"></p>
                                <h3>@item.article_title</h3>
                            </a>
                        </li>
                    }
</div>
        </section>
        <section class="cols2">
            <h3 class="sjgly"><p>文艺新秀</p></h3>
            <div class="cols2-imglist clear">
                <ul>
                    @foreach (var item in Model.zazhi_wenyixinxiu)
                    {
                        <li>
                            <a href="@item.article_click_url" target="_blank">
                                <p><img src="@item.article_cover_image" alt="@item.article_title"></p>
                                <h3>@item.article_title</h3>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </section>

    </section>
    <section class="c-con clear" style="background-color:#FFF;">

        <section class="links">
            <h3><p>友情链接</p></h3>
            @{Html.RenderAction("FriendLink", "Partinal");}
        </section>
    </section>
    @{Html.RenderAction("Footer", "Partinal");}
    <script src="js/swiper.min.js"></script>
    <script src="js/fun.js"></script>
    <script>
        var swiper1 = new Swiper('.swiper1', {
            pagination: '.swiper-pagination1',
            paginationClickable: true,
            spaceBetween: 0,
            autoplay: 3500,
            loop: true
        });
    </script>

</body>
</html>