
@{
    Layout = null;
}
@using ChineseCulture.Model;
@using Webdiyer.WebControls.Mvc;

@model ArticlePageViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>中国校园文化网</title>
    @Styles.Render("~/Content/wyzz")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/homepage")
    @*<link rel="stylesheet" type="text/css" href="./css/global.css">
            <link rel="stylesheet" href="css/swiper.min.css">
            <link rel="stylesheet" type="text/css" href="./css/style.css">
            <link rel="stylesheet" type="text/css" href="./css/dasai.css">
        <script src="js/jquery-1.11.1.min.js"></script>*@
</head>
<body>
    @{Html.RenderAction("WenyizazhiPageHeader", "Partinal");}
    @{Html.RenderAction("WenyizashiHomeMenu", "Partinal");}
    <section class="main c-con clear" style="background-color:#FFF; padding-top:0;">

        <section class="swiper-container swiper8">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="images/emp-14.png"></div>
                <div class="swiper-slide"><img src="images/emp-14.png"></div>
                <div class="swiper-slide"><img src="images/emp-14.png"></div>
                <div class="swiper-slide"><img src="images/emp-14.png"></div>
                <div class="swiper-slide"><img src="images/emp-14.png"></div>
                <div class="swiper-slide"><img src="images/emp-14.png"></div>
            </div>
            <div class="swiper-pagination swiper-pagination8"></div>
        </section>
        <section class="wyzz-location c-con clear" style="padding-top:20px;">
            <h3> <a href="/">中国校园文化网</a>&nbsp;>&nbsp;<a href="/Article/List/cid_@Model.ThisArticleFatherCategory.category_id">@Model.ThisArticleFatherCategory.category_name</a>&nbsp;>&nbsp;@Model.ThisArticleCategory.category_name</h3>
        </section>
        <aside class="cyfh-menu clear">
            <div class="wyzzmenu-item clear">
                <ul>
                    @foreach (ArticleCategory ac in Model.ArticleCategoryList)
                    {
                        <li class="li_1 on">
                            <a href="/zazhi/zcid_@(ac.category_id+".html")" class="dstypes-on">
    @ac.category_name
</a>
                    </li>
                       
                    }
                </ul>
            </div>
        </aside>
       
        <section class="cyfh-cols clear">
            <section class="cyfh-left">
                <div class="cyfh-list">
                    <ul>
                        @Html.Partial("_ListPartial", Model)
                        
                    </ul>
                </div>
                <div class="pages clear">
                    @Html.Pager(Model.articlePageList).Options(o => o.SetFirstPageRouteName("MvcPager_DefaultZazhi").SetRouteName("MvcPager_Pager1").SetPagerItemTemplate("{0}&nbsp;").SetCssClass("pagesmain"))
                </div>
            </section>
           
            <section class="dsd-right">

                <section class="dsd-right-col">
                    <header class="dsd-rcol-header">
                        <h3>精彩分享</h3>
                    </header>
                    <div class="dsd-rcol-list">
                        <ul>
                            @foreach (var item in Model.articleRightList)
                            {
                                <li><a href="@item.article_click_url">@item.article_title</a></li>
                            }

                        </ul>
                    </div>
                </section>
            </section>
        </section>
        <section class="cyfh-blank"></section>
     

    </section>
    <section class="c-con clear" style="background-color:#FFF;">

        <section class="links">
            <h3><p>友情链接</p></h3>
            @{Html.RenderAction("FriendLink", "Partinal");}
        </section>
    </section>
    @{Html.RenderAction("Footer", "Partinal");}
    <script src="js/swiper.min.js"></script>
    <script src="js/fun.js"></script>
    <script>

        var swiper8 = new Swiper('.swiper8', {
            pagination: '.swiper-pagination8',
            paginationClickable: true,
            spaceBetween: 0,
            autoplay: 2500,
            loop: true
        });
                        /*var swiper3 = new Swiper('.swiper3', {
                            pagination: '.swiper-pagination3',
                            paginationClickable: true,
                            spaceBetween:0,
                            autoplay: 2500,
                            loop:true
                        });*/
    </script>
</body>
</html>